a:link {
  color: #0f6ea6; /* 未访问链接的颜色 */
  text-decoration: none; /* 去除下划线 */
}

a:visited {
  color: #0f6ea6; /* 已访问链接的颜色 */
}

a:hover {
  color: #BD417F; /* 鼠标悬停时的颜色 */
  text-decoration: underline; /* 添加下划线 */
}

a:active {
  color: orange; /* 点击链接时的颜色 */
}


dl {
   margin-inline: 0px;
}

dd {
    margin: 0;
    font-size: 15px;
}
dd::after {
    content: '\A';
    white-space: pre-line;
}
dd:last-of-type::after {
    content: '';
}
dd, dt {
    display: inline;
    font-family: Georgia;
}
dd, dt, .address {
    vertical-align: middle;
}
dt{
/*    font-weight: bolder;*/
    font-size: 18px;
    vertical-align: middle;
    color:#042261;
}
dt::after {
    content: ' ';
}
 .address {
    display: inline-block;
    white-space: pre;
dd .list {
 text-indent:50px;
}




